/curso_em_video/TiposPrimitivos/target/
/curso_em_video/TesteTipos/target/
/curso_em_video/SomaSwing/nbproject/private/
/curso_em_video/SomaSwing/build/
/curso_em_video/CalculadoraIdade/nbproject/private/
/curso_em_video/CalculadoraIdade/build/
/curso_em_video/OperadoresSwing/nbproject/private/
/curso_em_video/OperadoresSwing/build/
/curso_em_video/SuperCalculadora/nbproject/private/
/curso_em_video/SuperCalculadora/build/
/curso_em_video/SuperCalculadora/dist/
/curso_em_video/OperadorTernario/nbproject/private/
/curso_em_video/OperadorTernario/build/
/curso_em_video/ComparacaoString/nbproject/private/
/curso_em_video/ComparacaoString/build/
/curso_em_video/OperadoresLogicos/nbproject/private/
/curso_em_video/OperadoresLogicos/build/
/curso_em_video/VerificadorIdadeSwing/nbproject/private/
/curso_em_video/VerificadorIdadeSwing/build/
/curso_em_video/LeitorDePensamento/nbproject/private/
/curso_em_video/LeitorDePensamento/build/
/curso_em_video/ProgramaParImparSwing/nbproject/private/
/curso_em_video/ProgramaParImparSwing/build/
/curso_em_video/EquacaoSegundoGrau/nbproject/private/
/curso_em_video/EquacaoSegundoGrau/build/
/curso_em_video/VotacaoSwing/nbproject/private/
/curso_em_video/VotacaoSwing/build/
/curso_em_video/ProgramaPernas/nbproject/private/
/curso_em_video/ProgramaPernas/build/
/curso_em_video/ProjetoTriangulo/nbproject/private/
/curso_em_video/ProjetoTriangulo/build/
/curso_em_video/Contador02/nbproject/private/
/curso_em_video/Contador02/build/
/curso_em_video/Fatorial/nbproject/private/
/curso_em_video/Fatorial/build/
/curso_em_video/ExercicioRepita/nbproject/private/
/curso_em_video/ExercicioRepita/build/
/curso_em_video/ExercicioRepita2/nbproject/private/
/curso_em_video/ExercicioRepita2/build/
